@model IEnumerable<QAManagementSystem.Models.QuestionPaper>

@{
    ViewBag.Title = "ApprovedQuestionPaper";
}

<style>
    /* Style for table */
    table {
        width: 100%;
        border-collapse: collapse;
        border: 1px solid #ddd;
    }

    /* Style for table headers */
    th {
        background-color: #f2f2f2;
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    /* Style for table cells */
    td {
        border: 1px solid #ddd;
        padding: 8px;
    }

    /* Style for alternate row background color */
    tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    /* Style for buttons */
    .btn {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 6px 12px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        border-radius: 4px;
        cursor: pointer;
    }


    /* Style for danger button */
    .btn-danger {
        background-color: #dc3545;
    }

    /* Style for button hover */
    .btn:hover {
        background-color: #0056b3;
    }

    .buttons {
        display: flex;
        gap: 4px;
    }
</style>

<h2>ApprovedQuestionPaper</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDate)
        </td>
        <td>
            <form action="@Url.Action("DeleteApprovedQuestionPaper", "Admin")" method="post">
                @Html.AntiForgeryToken()
                <input type="hidden" name="QuestionPaperId" value="@item.QuestionPaperId" />
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </td>
    </tr>
}

</table>
