@model IEnumerable<QAManagementSystem.Models.QuestionPaper>

@{
    ViewBag.Title = "ApprovedQuestionPaper";
}
<style>
    /* Style for table */
    table {
        width: 100%;
        border-collapse: collapse;
        border: 1px solid #ddd;
    }

    /* Style for table headers */
    th {
        background-color: #f2f2f2;
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    /* Style for table cells */
    td {
        border: 1px solid #ddd;
        padding: 8px;
    }

    /* Style for alternate row background color */
    tr:nth-child(even) {
        background-color: #f9f9f9;
    }
</style>

<h2>ApprovedQuestionPaper</h2>



@if (Model.Any())
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td class="text-success">
                    @Html.DisplayFor(modelItem => item.Status)
                </td>

            </tr>
        }

    </table>
}
else { 
 <p>No Approved Question Papers</p>
}